/* styles.css */

body {
    background-color: #121212;
    color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow-x: hidden; /* 横スクロールバーを非表示 */
}

header {
    background-color: #1e1e1e;
    padding: 20px;
    text-align: center;
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #f0f0f0;
}

main {
    padding: 20px;
    width: 100%; /* 全幅に合わせる */
    max-width: 800px;
    box-sizing: border-box;
    overflow-x: hidden; /* 横スクロールバーを非表示 */
}

.image-container {
    text-align: center;
    margin-bottom: 20px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border: 3px solid #333;
    border-radius: 10px;
}

.description {
    background-color: rgba(30, 30, 30, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.description h2 {
    color: #a855f7;
}

.description p,
.description ol {
    line-height: 1.6;
}

.description ol {
    padding-left: 20px;
}

.description a.button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #a855f7;
    color: #121212;
    text-decoration: none;
    border-radius: 5px;
}

.description a.button:hover {
    background-color: #9333ea;
}

footer {
    background-color: #1e1e1e;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer p {
    margin: 0;
    color: #888;
}

footer a:focus,
footer a:hover {
    text-decoration: none; 
    color: #8038d1;
}

footer a {
    text-decoration: none;
    color: #7621d6;
}

